.demo-section {
  margin: 50px 0;
  .demo-section--container {
    border-top: 1px solid #dfe3e8;
    border-bottom: 1px solid #dfe3e8;
    padding: 30px 20px;
    display: grid;
    @media (min-width: 768px) {
      grid-template-columns: auto auto;
      align-items: center;
      justify-content: space-between;
    }
    @media (max-width: 767px) {
      grid-template-rows: auto auto;
      row-gap: 20px;
      justify-content: center;
      text-align: center;
      justify-items: center;
    }
    .demo-section--container-content {
      display: grid;
      grid-auto-flow: row;
      row-gap: 10px;
    }
  }
}

.sectiontile {
}
